body {
  background-image: url("gambar.png");
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
  height: 100vh;
}

.test {
  margin-top: 10%;
  letter-spacing: 30px;
}

.test2 {
  font-size: 20px;
}

.test3 {
  position: absolute;
  right: 0;
  width: 120px;
  color: white;
  font-size: 19px;
  margin-right: 20px;
  padding: 6px;
}

.test4 {
  width: 100%;
}

.test5 {
  font-size: 20px;
}

@media only screen and (max-width: 572px) {
  .test {
    letter-spacing: 5px;
    font-size: 40px;
  }

  .test2 {
    font-size: 10px;
  }

  .test3 {
    position: static;
    width: 100%;
  }

  .test6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .test8 {
    width: 300px;
    justify-content: center;
  }

  .test4 {
    width: 300px;
    padding: 7px !important;
  }

  .test5 {
    margin-top: 50px;
    font-size: 14px;
  }

}